**/node_modules/
**/dist/
**/build/

**/.idea/
**/.vscode/
**/*.iml

**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear

**/logs/
**/*.log
**/*.log.*
**/*.gz
**/*.dumpstream

**/uploads/
LOG_PATH_IS_UNDEFINED/

**/.DS_Store
**/Thumbs.db
